* {}

body {}

:root {
    --main--color: rgb(218, 248, 244);
    --sec--color: rgb(5, 104, 94);
}


.main-nav {
    background-color: var(--main--color) !important;
    color: var(--sec--color);
}

.logo {
    width: 100px;
}

.search-form {

    display: flex;
    justify-content: center;
}

.main {

    height: 80vh;
    display: flex;
    justify-content: space-around;
    background-image: url(../imgs/image14.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
}

.main button {
    width: 20%;
    height: 50%;
    text-align: center;
    padding: 2rem;
    margin: 15px;
    border: 2px solid var(--sec--color);
    border-radius: 5px;


    background-color: rgba(218, 248, 244, 0.486);


}

.main button:hover {



    background-color: rgba(5, 104, 94, 0.534);
    border: 2px solid var(--main--color);




}

.sec-nav {
    background-color: var(--sec--color);
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;


}

.sec-nav a {
    margin: 10px;
}


.aside {
    background-color: var(--sec--color);
    margin: 10px;
    color: white;
    border-radius: 5px;
    padding: 10px;

}

.news {
    display: flex;
    justify-self: start;
    align-items: center;
}

.justify {
    display: flex;
    justify-content: space-around;

}

.color {
    color: #05685e
}

.back {
    display: flex;
    align-items: center;
    direction: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

a:hover {
    color: var(--main--color);
}



