*{

}
body{

}

:root{
    --main--color: #daf8f4;
    --sec--color:#05685e;
}


.main-nav{
    background-color: var(--main--color) !important;
    color: var(--sec--color);
}
.logo{
    width: 100px;
}
.justify {
    display: flex;
    justify-content: space-around;

}
.color{
    color:#05685e
}