*{

}
body{

}

:root{
    --main--color: #daf8f4;
    --sec--color:#05685e;
}


.main-nav{
    background-color: var(--main--color) !important;
    color: var(--sec--color);
}
.logo{
    width: 100px;
}
<<<<<<< HEAD
.search-form{

    display: flex ;
    justify-content: center ;
}
.main{
    background-color: var(--main--color);
    height: 80vh;
    display: flex;
    justify-content: space-around;
}
.sec-nav{
    background-color: var(--sec--color);
    color:white;
    display: flex;
    justify-content: center;
    padding: 10px;
   
    
}
.sec-nav a{
    margin: 10px;
}


.aside{
    background-color: var(--sec--color);
    margin: 10px;
    color: white;
    border-radius: 5px;
    padding: 10px;

}
.news{
    display: flex;
    justify-self: start;
    align-items: center;
}

=======
.justify {
    display: flex;
    justify-content: space-around;

}
.color{
    color:#05685e
}
>>>>>>> a0af16e5aec5359d5cd8682bf9f53ad2a32f7b3a
